<div id="login">
  <form accept-charset="utf-8" ng-submit="submit()">
    <fieldset>
      <legend>Login</legend>
      <ol>
        <li>
          <label for="username" title="Your login username">E-Mail:</label>
          <input  id="username" title="Your login username" type="text" ng-model="username"/>
        </li>
        <li>
          <label for="password" title="Password">Password:</label>
          <input  id="password" title="Password" type="password" ng-model="password"/>
        </li>
        <li>
          <label for="remember" title="Stay signed in">Remember me:</label>
          <input  id="remember" title="Stay signed in" type="checkbox" ng-model="remember"/>
        </li>
      </ol>
      <input title="Login" type="submit" class="submit"/>
    </fieldset>
  </form>
</div>

<ul class="menu">
  <li><a href="#/register">Register</a></li>
  <li><a href="#/retrieve">Reset password</a></li>
</ul>
