<div id="password-reset">
  <form accept-charset="utf-8" ng-submit="retrieve()">
    <fieldset>
      <legend>Reset password</legend>
      <ol>
        <li>
          <label for="username" title="Login email">E-Mail:</label>
          <input  id="username" title="Login email" type="email" ng-model="username" required autofocus/>
        </li>
        <li>
          <label for="password" title="Login password">New password:</label>
          <input  id="password" title="Login password" type="password" ng-model="password" required/>
        </li>
      </ol>
      <input title="Login" type="submit" class="submit"/>
    </fieldset>
  </form>
</div>

<ul class="menu">
  <li><a href="#/login">Login</a></li>
  <li><a href="#/register">Register</a></li>
</ul>
