<div id="password-reset">
  <form accept-charset="utf-8" ng-submit="submit()">
    <fieldset>
      <legend>Reset password</legend>
      <ol>
        <li>
          <label for="username" title="Your login username">E-Mail:</label>
          <input id="username" title="Your login username" type="text" ng-model="username"/>
        </li>
        <li>
          <label for="password" title="Password">New password:</label>
          <input id="password" title="Password" type="password" ng-model="password"/>
        </li>
      </ol>
      <input title="Login" type="submit" class="submit"/>
    </fieldset>
  </form>
</div>

<ul class="menu">
  <li><a href="#/login">Login</a></li>
  <li><a href="#/register">Register</a></li>
</ul>
